
#tasks{
    background-color: rgb(219, 107, 2);
    text-align: center;
    width: 30%;
    margin: auto;
    height: 80px;
    margin-top: 7%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #fff;
    

}

#tasks #task_name{
  margin-top: 2%;

}

#tasks #task_name:focus{
 outline: none;

}

#tasks label{
  font-size: 20px;
  font-family: monospace, Courier, 'Courier New';
  letter-spacing: 4px;
}


#listOfTasks{
  width: 30%;
  margin: auto;
  background-color: rgb(255, 217, 50);
}

#listOfTasks p{
    margin-left: 5%;
    margin-top: 0px;
   
}