
#tasks{
    background-color: rgb(170, 167, 167);
    text-align: center;
    width: 30%;
    margin: auto;
    height: 80px;
    margin-top: 7%;
    

}

#tasks #task_name{
  margin-top: 2%;

}

#tasks label{
  font-size: 20px;
  font-family: monospace, Courier, 'Courier New';
  letter-spacing: 4px;
}


#listOfTasks{
  width: 30%;
  margin: auto;
  background-color: #ccc;
}

#listOfTasks p{
    margin-left: 5%;
    margin-top: 0px;
   
}